

	/*Drawing*/

/*
*{
border: 2px black dotted;
} 
*/


/*Setup*/


html, body {
	max-width: 100%;
	max-height: 100%;
}


p {
font-family: 'Open Sans', sans-serif;
}


/*Logo*/


.logo {
width: 100%;
margin-top: 30px;
display: block;
}

.logo img {
	max-width: 100%;
	text-align: center;
}

/*Little 'about me bit'*/

.about {
margin-top: 2%;
text-align: center;
background-color: #202F40;
width: 100%;
font-family: 'Open Sans', sans-serif;
display: block;
}


.about p {
font-family: 'Open Sans', sans-serif;
color: #FFF;
font-size: 0.7rem;
padding: 2%;
letter-spacing: 0.2em;
margin-bottom: 15px;
}

.bx-viewport {
	right: 20px;
	height: 200px;
	text-align: left;

}



/*The slideshow*/

.slidershow{
	width: 100%;
}


/*The icon set*/

.whatWeDo {
	width: 100%;
	text-align: center;
	background-color: #202F40;
}

.whatWeDo h2 {
	margin-top: 10%;
	padding-top: 5%;
	font-size: 1rem;
	color: #EEE;
	letter-spacing: 0.6rem;
}

.icon {
	width: 30%;
	display: inline-block;
	padding: 10px;
	margin: 15px;	
}


.icon_image {
	width: 70%;
	height: 70%;
}


.icon_text {
	color: #EEE;
	text-align: center;
	font-size: 0.8rem;

}


/*Contact Us section*/



.contactUs {
	width: 100%;
	background-color: #202F40;
	color: #EEE;
	margin-top: 3%;
	padding-top: 3%
}

.contact {
	text-align: center;
}

.number {
	display: inline-block;
	width: 49%;
	text-align: center;
}


.address{

	width: 40%;
	margin-left: 5%;
}


/*link to own website*/

.peos {

text-align: center;
font-size: 0.6rem;
}


/***************** TABLETS *********************/

@media only screen and (min-width: 600px) {


.about p {
	font-size: 0.8rem;

}

.whatWeDo h2{
	font-size: 1.3rem;
}

.icon {
	width: 20%;
}

.icon_image {
	width: 80%;
	height: 80%;
}

.contactUs {
	padding-top: 1%;
}


}


/***************** DESKTOP *********************/

@media only screen and (min-width: 900px) {

	/*Logo*/

	.logo {
		text-align: center;
	}

	.logo img {
		width: 75%;
	}


	/*About bit*/

	.about {
		width: 75%;
		text-align: center;
		margin: 0 auto;
	}

	.about p {
		font-size: 0.9rem;
	}


	/*The icons*/

	.whatWeDo {
		width: 75%;
		margin: 0 auto;
	}

	.icon {
	width: 25%;
}

.icon_image {
	width: 70%;
	height: 70%;
}




	/*Slideshow*/

	.slideWrapper {
		width: 78.5%;
		margin: 0 auto;
	}


	.contactUs {

	width: 75%;
	margin: 0 auto;
	}

	.number {
		width: 100%;
		text-align: left;
		margin-left: 5%;
	}


}

